#FILE LOCATION ~/.profile

#------- Editing of .dotfiles and refresh command -----------------------------
alias aliases="nvim ~/.aliases && source ~/.aliases"
alias vimrc="nvim ~/.vimrc"
alias profile="nvim ~/.profile && source ~/.profile"
alias zshrc="nvim ~/.zshrc && source ~/.zshrc"
alias reload="source ~/.zshrc"
#------------------------------------------------------------------------------

#------- Utilities ------------------------------------------------------------
alias vim="nvim"
alias brews="brew list -1"
alias maildebug="python -m smtpd -n -c DebuggingServer localhost:1025"
alias serverdebug="python -m SimpleHTTPServer"
alias nat="cd ~/Projects/Nat"
#------------------------------------------------------------------------------

#------- Functions ------------------------------------------------------------
trash() {
  mv $@ ~/.Trash
}

gpip() {
   PIP_REQUIRE_VIRTUALENV="" pip "$@"
}

gpip3() {
   PIP_REQUIRE_VIRTUALENV="" pip3 "$@"
}

take () {
  mkdir -p $1
  cd $1
}

function frameworkpython {
    if [[ ! -z "$VIRTUAL_ENV" ]]; then
        PYTHONHOME=$VIRTUAL_ENV /usr/local/bin/python "$@"
    else
        /usr/local/bin/python "$@"
    fi
}

#------------------------------------------------------------------------------
