#FILE LOCATION ~/.profile

#------- Editing of .dotfiles and refresh command -----------------------------
alias aliases="vim ~/.aliases && source ~/.aliases"
alias vimrc="vim ~/.vimrc"
alias profile="vim ~/.profile && source ~/.profile"
alias zshrc="vim ~/.zshrc && source ~/.zshrc"
alias reload="source ~/.zshrc"
#------------------------------------------------------------------------------

#------- Utilities ------------------------------------------------------------
alias brews="brew list -1"
alias maildebug="python -m smtpd -n -c DebuggingServer localhost:1025"
alias serverdebug="python -m SimpleHTTPServer"
alias nat="cd ~/Projects/Nat"
#------------------------------------------------------------------------------

#------- Functions ------------------------------------------------------------
trash() {
  mv $@ ~/.Trash
}

take () {
  mkdir -p $1
  cd $1
}

# Workaround for virtualenv and matplotlib.
function frameworkpython {
    if [[ ! -z "$VIRTUAL_ENV" ]]; then
        PYTHONHOME=$VIRTUAL_ENV /usr/local/bin/python "$@"
    else
        /usr/local/bin/python "$@"
    fi
}

#------------------------------------------------------------------------------
